{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %}Register{% endblock %}

{% block body_block %}
    <form action="{% url 'user_login' %}" method="POST">
        {% csrf_token %}
        {% if login_errors %}
            <p>{{ login_errors }}</p>
        {% endif %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">

        <input type="submit" value="Login">
    </form>
{% endblock %}