           <div id="pages">
                {% if pages %}
                    <ul>
                        {% for page in pages %}
                                <li><a href="{% url 'goto' %}?page_id={{ page.id }}">{{ page }}</a></li>
                        {% endfor %}

                        {% if user.is_authenticated %}
                            <li><a href="{% url 'add_page' category.slug %}">Add a Page</a></li>
                        {% endif %}
                    </ul>
                {% else %}
                    <strong>No pages currently in category</strong>
                {% endif %}


           </div>